# ide
*.pyc
__pycache
.vscode
.idea
.pytest*

# mac
*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db

# env configs
.env.dev

# logs
./services/web/logs
*.log

# custom debug for pycharm
debug*

# virtualenv
.venv

# cov
htmlcov
.coverage